.Register-box {
  background-color: #ffffff;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  border-radius: 25%;
}

.Register-box-title {
  text-align: center;
  padding-bottom: 4vh;
  padding-top: 4vh;
}

.Register-box-middle {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}

.Register-box-middle-left {
  flex: 50%;
}

.Register-box-middle-right {
  flex: 50%;
}

.Register-form {
  margin: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
