.App {
  text-align: center;
  background-color: #efefef;
}

.Login-box {
  background-color: #ffffff;
  justify-content: center;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

.Login-box-title {
  text-align: center;
  padding-bottom: 4vh;
}

.Login-box-middle {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}

.Login-box-middle-left {
  flex: 50%;
}

.Login-box-middle-right {
  flex: 50%;
}

.Login-box-lower {

}

.Login-btn {
  width: 5vw;
}

#Guest {
  border: none;
  background-color: inherit;
  display: inline-block;
  color: #467fd0;
  text-decoration: underline;
}

.nearest {
  image-rendering: -webkit-optimize-contrast;
}