body {
  background-color: #efefef;
}

button {
  border: none;
  background-color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.App {
  text-align: center;
  background-color: transparent;
  /*background-color: #efefef; */
}

.App-background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(8px);
}




