body {
  background-color: #efefef;
}

button {
  border: none;
  background-color: inherit;
}

.App {
  text-align: center;
  background-color: #efefef;
}

.Login-box {
  background-color: #ffffff;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

.Login-box-title {
  text-align: center;
  padding-bottom: 4vh;
  padding-top: 4vh;
}

.Login-box-middle {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}

.Login-box-middle-left {
  flex: 50%;
}

.Login-box-middle-right {
  flex: 50%;
}

.Login-box-lower {
}

.Login-btn {
  width: 5vw;
}

#Login-form {
  margin: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#Guest {
  border: none;
  background-color: inherit;
  display: inline-block;
  color: #467fd0;
  text-decoration: underline;
}

#Logo-img {
  border-style: dotted;
  border-color: #d35f5f;
  border-radius: 50%;
  width: 18vw;
}

#Build-tools {
  background-color: #ffffff;
  display: block;
}

#Build-tools-title {
  padding-top: 2.5vh;
}

#Build-tools-container {
  display: flex;
}

#Build-tools-menu-left {
  flex: 20%;
}

#Build-tools-menu-right {
  flex: 20%
}

#Build-tools-screen {
  flex: 60%
}
