body {
  background-color: #efefef;
}

button {
  border: none;
  background-color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.App {
  text-align: center;
  background-color: transparent;
  /*background-color: #efefef; */
}

.Login-box {
  background-color: #ffffff;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  border-radius: 25%;
}

.Login-box-title {
  text-align: center;
  padding-bottom: 4vh;
  padding-top: 4vh;
}

.Login-box-middle {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}

.Login-box-middle-left {
  flex: 50%;
}

.Login-box-middle-right {
  flex: 50%;
}

.Login-box-lower {
}

.Login-btn {
  width: 5vw;
}

#Login-form {
  margin: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#Guest {
  border: none;
  background-color: inherit;
  display: inline-block;
  color: #467fd0;
  text-decoration: underline;
}

#Logo-img {
  width: 15vw;
  scale: 0.8;
}

#Logo-frame {
  border-style: dotted;
  border-color: #d35f5f;
  border-radius: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#Build-tools {
  background-color: #ffffff;
  display: block;
  padding-bottom: 40%;
}

#SuperMaker-title {
  padding-top: 2.5vh;
}

#SuperMaker-main {
  background-color: #ffffff;
}

#Build-tools-container {
  display: flex;
}

#Build-tools-menu-left {
  flex: 15%;
}

#Build-tools-file-container {
  margin-left: 12.5%;
}

#Build-tools-menu-right {
  flex: 15%
}

#Build-tools-screen {
  flex: 70%
}

#Tile {
  border: solid;
  border-color: #d35f5f;
  border-radius: 12.5%;
  width: 8.5vw;
  margin-bottom: 3%;
}

#Tile-title {
  font-size: 1.35rem;
}

#Tile-img {
  padding-bottom: 1vh;
}

#Settings {

}

#Settings-title {
  margin-top: 3%;
}

#App-background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(8px);
}

#Control {
  float: none;
  border-style: dotted;
  border-color: #d35f5f;
  display: flex;
  width: 10vw;
}

#Control-left {
  flex: 70%;
}

#Control-right {
  flex: 30%;
}

#Setting-container {
  display: flex;
  margin-right: 12.5%;
}

.Setting-container-left {
  flex: 60%;
}

.Setting-container-right {
  flex: 40%;
}

.Setting-container-right input {
  width: 6vw;
}