body {
  background-color: #efefef;
}

button {
  border: none;
  background-color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 2.5%;
}

.App {
  text-align: center;
  background-color: #efefef;
}

.Login-box {
  background-color: #ffffff;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

.Login-box-title {
  text-align: center;
  padding-bottom: 4vh;
  padding-top: 4vh;
}

.Login-box-middle {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}

.Login-box-middle-left {
  flex: 50%;
}

.Login-box-middle-right {
  flex: 50%;
}

.Login-box-lower {
}

.Login-btn {
  width: 5vw;
}

#Login-form {
  margin: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#Guest {
  border: none;
  background-color: inherit;
  display: inline-block;
  color: #467fd0;
  text-decoration: underline;
}

#Logo-img {
  width: 15vw;
  scale: 0.8;
}

#Logo-frame {
  border-style: dotted;
  border-color: #d35f5f;
  border-radius: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#Build-tools {
  background-color: #ffffff;
  display: block;
}

#SuperMaker-title {
  padding-top: 2.5vh;
}

#SuperMaker-main {
  background-color: #ffffff;
}

#Build-tools-container {
  display: flex;
}

#Build-tools-menu-left {
  flex: 15%;
}

#Build-tools-menu-right {
  flex: 15%
}

#Build-tools-screen {
  flex: 70%
}

#Tile {
  border: solid;
  border-color: #d35f5f;
  border-radius: 12.5%;
  margin-left: 20%;
  margin-right: 20%;
}

#Tile-title {
  font-size: 1.35rem;
}

#Tile-img {
  padding-bottom: 1vh;
}
